# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environments
.venv/
venv/
ENV/

# UV and tools
.cache/
.uv_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/
.DS_Store

# Logs y Env
*.log
.env
.env.*

# build and release
dist/
build/
*.egg-info/

# Misc
coverage/
basedpyrightconfig.json
version_cache.json
pipeline_config.yaml
target/
