name: Release System

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: uv sync --dev

      - name: Run Bump and Generate Changelog
        id: cz
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
          echo "Intentando incrementar versión..."

          if ! uv run cz bump --prerelease alpha --yes --changelog; then
            echo "Aviso: No se detectaron tags previos. Iniciando primer ciclo de release..."
            uv run cz bump --prerelease alpha --increment PATCH --yes --changelog || echo "Ya existe la versión."
          fi
          

          VERSION=$(grep -m 1 'version =' pyproject.toml | tr -d '"' | tr -d ' ' | cut -d '=' -f2)
          echo "NEW_VERSION=$VERSION" >> $GITHUB_ENV
          

          git add .
          git commit -m "chore(release): v$VERSION [skip ci]" || echo "Sin cambios para commitear"
          git tag -f "v$VERSION"
          git push origin main --tags --force

      - name: Build package
        run: uv build

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.NEW_VERSION }}
          name: Release v${{ env.NEW_VERSION }}
          files: dist/*

          generate_release_notes: true

          body_path: CHANGELOG.md

          prerelease: ${{ contains(env.NEW_VERSION, 'a') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}