name: GitHub Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest

    steps:


      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0


      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"


      - name: Install Commitizen
        run: |
          python -m pip install --upgrade pip
          pip install commitizen


      - name: Get version from tag
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

 
      - name: Generate release notes
        id: changelog
        run: |
          NOTES=$(cz changelog ${{ env.VERSION }} --dry-run)
          echo "NOTES<<EOF" >> $GITHUB_ENV
          echo "$NOTES" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV


      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install hatchling

      - name: Build wheel
        run: python -m hatchling build

 
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          name: Release ${{ env.VERSION }}
          body: ${{ env.NOTES }}
          files: dist/*  
          prerelease: true
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
