name: Release System

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'CHANGELOG.md'
      - '**/pyproject.toml'
  workflow_dispatch: 

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE_TOKEN }}

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: uv sync --dev

      - name: Bump & Changelog
        id: cz
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          
          git remote set-url origin https://x-access-token:${{ secrets.RELEASE_TOKEN }}@github.com/${{ github.repository }}

          if uv run cz bump --prerelease alpha --yes --changelog; then
            echo "BUMP_CREATED=true" >> $GITHUB_ENV
          else
            echo "BUMP_CREATED=false" >> $GITHUB_ENV
            echo "No se detectaron cambios significativos para un nuevo release."
          fi
          
          NEW_VER=$(grep -m 1 'version =' pyproject.toml | tr -d '"' | tr -d ' ' | cut -d '=' -f2)
          echo "NEW_VERSION=$NEW_VER" >> $GITHUB_ENV
          
          if [ "${{ env.BUMP_CREATED }}" = "true" ]; then
            git push origin main --tags
          fi

      - name: Build
        if: env.BUMP_CREATED == 'true'
        run: uv build

      - name: Create GitHub Release
        if: env.BUMP_CREATED == 'true'
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.NEW_VERSION }}
          name: v${{ env.NEW_VERSION }}
          files: dist/*
          generate_release_notes: true 
          body_path: CHANGELOG.md
          prerelease: ${{ contains(env.NEW_VERSION, 'a') || contains(env.NEW_VERSION, 'b') }}
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}