name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install uv
        run: |
          pip install uv

      - name: Create uv environment
        run: |
          uv env create xolo-env -y
          uv env activate xolo-env

      - name: Install Hatch
        run: pip install hatch

      - name: Build Package
        run: hatch build

      - name: Generate release notes
        id: notes
        run: |
          PREV_TAG=$(git describe --tags --abbrev=0 HEAD^)
          echo "Release notes for $GITHUB_REF" > release_notes.txt
          git log --pretty=format:"%h - %s" $PREV_TAG..HEAD >> release_notes.txt
          cat release_notes.txt

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*, release_notes.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
